node-red-source.js
[{"id":"e28df467.67b76","type":"websocket-listener","z":"2c789ce8.f2dd8c","path":"/ws","wholemsg":"false"},{"id":"c9a3857.04beef8","type":"websocket in","z":"2c789ce8.f2dd8c","name":"","server":"e28df467.67b76","client":"","x":107.5,"y":73.5,"wires":[["f881d153.b25998","2889d8be.360c5"]]},{"id":"42f7b538.dc8324","type":"websocket out","z":"2c789ce8.f2dd8c","name":"","server":"e28df467.67b76","client":"","x":772.5,"y":123,"wires":[]},{"id":"f881d153.b25998","type":"debug","z":"2c789ce8.f2dd8c","name":"","active":true,"console":"false","complete":"false","x":803.5,"y":60,"wires":[]},{"id":"d95a070d.3f3c48","type":"function","z":"2c789ce8.f2dd8c","name":"","func":"msg.payload.title = \"Response from Bluemix\";\nmsg.payload.message = \"Hello from Web Sockets :)\";\nreturn msg;","outputs":1,"noerr":0,"x":414.5,"y":129.5,"wires":[["42f7b538.dc8324"]]},{"id":"2889d8be.360c5","type":"json","z":"2c789ce8.f2dd8c","name":"","x":117.5,"y":129.5,"wires":[["f8fc5e16.633c68"]]},{"id":"f8fc5e16.633c68","type":"switch","z":"2c789ce8.f2dd8c","name":"","property":"payload.serviceType","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","outputs":3,"x":184.5,"y":183.5,"wires":[["d95a070d.3f3c48"],["9805cbf0.c15f8"],["bf4fc756.38ce48"]]},{"id":"f0cb0a39.559da8","type":"function","z":"2c789ce8.f2dd8c","name":"","func":"var data = msg.payload;\n\nvar newPayload = {\n    serviceType:\"2\",\n    serviceData:data\n};\n\nmsg.payload = newPayload;\n\nreturn msg;","outputs":1,"noerr":0,"x":530.5,"y":200.5,"wires":[["42f7b538.dc8324"]]},{"id":"9805cbf0.c15f8","type":"cloudant in","z":"2c789ce8.f2dd8c","name":"","cloudant":"","database":"twitter","service":"JJXoTDemo1-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":392.5,"y":178.5,"wires":[["f0cb0a39.559da8"]]},{"id":"ad5cec89.826df","type":"watson-translate","z":"2c789ce8.f2dd8c","name":"","srclang":"en","destlang":"es","domain":"conversational","x":395.5,"y":249.5,"wires":[["8ee88438.7c46c8"]]},{"id":"bf4fc756.38ce48","type":"function","z":"2c789ce8.f2dd8c","name":"","func":"msg.payload = msg.payload.serviceData;\nreturn msg;","outputs":1,"noerr":0,"x":186.5,"y":249.5,"wires":[["ad5cec89.826df"]]},{"id":"8ee88438.7c46c8","type":"function","z":"2c789ce8.f2dd8c","name":"","func":"var message = msg.payload;\n\nvar newPayload = {\n    serviceType:\"3\",\n    serviceData:\"\",\n    title:\"Translated Value\",\n    message:message\n};\n\nmsg.payload = newPayload;\n\nreturn msg;","outputs":1,"noerr":0,"x":597.5,"y":247.5,"wires":[["42f7b538.dc8324"]]},{"id":"417508d0.cd8d18","type":"http in","z":"2c789ce8.f2dd8c","name":"","url":"/testservice","method":"post","swaggerDoc":"","x":153.5,"y":338.5,"wires":[["4ae50d3a.7e043c"]]},{"id":"4ae50d3a.7e043c","type":"function","z":"2c789ce8.f2dd8c","name":"","func":"var payload = {\n    serviceType:\"3\",\n    serviceData:\"\",\n    title:\"Response from Web Service\",\n    message:msg.req.body.data\n};\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":455.5,"y":307.5,"wires":[["e17f820c.d1377","42f7b538.dc8324"]]},{"id":"e17f820c.d1377","type":"http response","z":"2c789ce8.f2dd8c","name":"","x":773.5,"y":335,"wires":[]},{"id":"5f33bb01.506654","type":"twitter in","z":"2c789ce8.f2dd8c","twitter":"","tags":"#IconUS,#JohnJardinRocks","user":"false","name":"","topic":"tweets","x":390.5,"y":521,"wires":[["7139dd1d.8d13dc"]]},{"id":"7139dd1d.8d13dc","type":"cloudant out","z":"2c789ce8.f2dd8c","name":"","cloudant":"","database":"twitter","service":"JJXoTDemo1-cloudantNoSQLDB","payonly":true,"operation":"insert","x":650.5,"y":520.5,"wires":[]}]